.submenu {
  padding: 20px 0;
  background-color: blue;
  display: flex;
  list-style: none;
  justify-content: center;
}

.submenu__link {
  color: white;
  width: 30%;
  text-decoration: none;
  text-transform: uppercase;
padding: 20px;
}